body{
background:
linear-gradient(
135deg,
#120303,
#220606,
#3a0d0d,
#120303
);

font-family:'Poppins',sans-serif;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.container{

width:95%;
max-width:1100px;

padding:35px;

border-radius:30px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.1);

box-shadow:
0 0 40px rgba(128,0,0,.4);

animation:fadeIn 1.2s ease;
}

.header{
text-align:center;
}

h1{

font-size:60px;

background:
linear-gradient(
90deg,
#ffb6b6,
#ff6b6b,
#ffb6b6
);

background-size:200%;

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

animation:shine 4s linear infinite;
}

.stats{

display:flex;
gap:20px;

justify-content:center;

margin:30px 0;
}

.card{

width:180px;

padding:25px;

text-align:center;

background:rgba(255,255,255,.05);

border-radius:20px;

color:white;

font-size:28px;
font-weight:700;
}

.card span{

display:block;

font-size:14px;

margin-top:8px;
}

form{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;
}

input,
select{

padding:18px;

border:none;
outline:none;

border-radius:16px;

background:rgba(255,255,255,.08);

color:white;
}

option{
color:black;
}

.full{
grid-column:1/3;
}

button{

grid-column:1/3;

padding:18px;

border:none;

border-radius:18px;

font-size:20px;
font-weight:700;

cursor:pointer;

background:
linear-gradient(
90deg,
#8b0000,
#b22222,
#dc143c
);

color:white;

transition:.4s;
}

button:hover{

transform:translateY(-4px);

box-shadow:
0 0 30px rgba(220,20,60,.7);
}

.result{

margin-top:25px;

padding:25px;

text-align:center;

font-size:34px;
font-weight:800;

color:#90ee90;

animation:bounce 2s infinite;
}

.features{

display:flex;

justify-content:center;

gap:20px;

margin-top:25px;
}

.feature{

padding:15px 25px;

background:rgba(255,255,255,.05);

border-radius:15px;

color:white;
}

@keyframes shine{

to{
background-position:200%;
}
}

@keyframes bounce{

50%{
transform:translateY(-8px);
}
}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(20px);
}

to{
opacity:1;
transform:translateY(0);
}
}